[submodule "vendor/pcre2"]
	path = vendor/pcre2
	url = https://github.com/PCRE2Project/pcre2
[submodule "vendor/zlib"]
	path = vendor/zlib
	url = https://github.com/madler/zlib
[submodule "vendor/openssl-zig"]
	path = vendor/openssl-zig
	url = https://github.com/kassane/openssl-zig
